@ColorGris1: #101010;
@ColorGris2: #252526;
@ColorGris3: #333333;
@ColorNode1: rgb(1, 63, 0);
@ColorNode2: rgb(118, 211, 122);
@ColorFuente1: #FFFFF9;
@HeaderHeightLarge: 350px;
@HeaderHeightSmall: 290px;
@ProfilePicSizeLarge: 300px;
@ProfilePicSizeSmall: 200px;
@ColorLinkedin: #0077B5;
@ColorGithub: #24292E;
@ColorStackOverFlow: #F48024;

*{
	color: @ColorFuente1;
	font-family: 'Red Hat Display', sans-serif;
}

html{
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.cursor-pointer{
	cursor: pointer;
}

.p-0{
	padding: 0 !important;
}

.m-0{
	margin: 0 !important;
}

.col-same-height{
	display: flex;
	flex-wrap: wrap;
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.italic{
	font-style: italic;
}

.align-center{
	text-align: center;
}

.linkedin-bg-color{
	background-color: @ColorLinkedin !important;
}
.github-bg-color{
	background-color: @ColorGithub !important;
}
.stackoverflow-bg-color{
	background-color: @ColorStackOverFlow !important;
}

.parallax
{
	display: flex;
	justify-content: center;

	div
	{
		position: absolute;
		z-index: 99;

		h1, h3{
			color: @ColorGris1;
		}
	}
}

.logo{
	max-width: 180px !important;
	margin: 35px;
	border: 3px solid @ColorGris3;
}

#cbf-page{

	// height: 9000px;

	#cbf-parallax-1{
		height: 950px;
	}
	
	#cbf-parallax-2, #cbf-parallax-3, #cbf-parallax-4, #cbf-parallax-5{
		height: 350px;
	}

	#cbf-section-1{

		transition: .3s;
		background-image: linear-gradient(to bottom right, @ColorNode2, @ColorNode1);
		position: relative;
		overflow: hidden;

		#cbf-background-1{
			position: absolute;
			top: 10%;
			left: -70%;
			width: 120%;
			height: 180%;
			background: radial-gradient(circle, @ColorGris1 15%, @ColorGris3 50%, @ColorGris1 100%);
		
			transform: rotate(-15deg);
		}

		*{
			position: relative;
		}

		.left-pane{
			height: @HeaderHeightLarge;
			position: relative;

			.fab{
				font-size: 2rem;
			}
		}

		.right-pane{

			#cbf-profile-pic{
				transition: .3s;
			
				width: @ProfilePicSizeLarge;
				border: 3px solid rgb(78, 78, 78);
			
				@media(max-width: 992px)
				{
					width: @ProfilePicSizeSmall;
				}
			}

			position: relative;
			height: @HeaderHeightLarge;
			justify-content: center;
			

			@media(max-width: 992px)
			{
				height: @HeaderHeightSmall;
			}
		}
	}

	#cbf-section-2, #cbf-section-3, #cbf-section-4, #cbf-section-5{
		transition: .3s;
		background: radial-gradient(circle, @ColorGris3 50%, @ColorGris1 100%, @ColorGris3 100%);

		.left-pane{
			justify-content: center;
		}

		.right-pane{
			display: block;

			.cbf-tech{
				i{
					font-size: 18px;
					color: @ColorGris3;
				}
				span{
					font-weight: bold;
					font-size: 15px;
				}
			}
		}
	}

	#cbf-section-5{
		padding-top: 35px;
		padding-bottom: 35px;
	}

	#cbf-logo-html-css{
		height: 100px;
	}

	.animated
	{
		*{
			transition: .45s;
		}

		.no-transition, .no-transition *{
			transition: unset;
		}

		&.hidden{
			.transform-0{
				transform: scale(0);
			}
			.transform-1{
				transform: scale(0.75);
			}
			.transform-2{
				transform: scale(0.50);
			}
			.opacity-0{
				opacity: 0;
			}
			.right-1{
				margin-left: -1000px;
			}
			.right-2{
				margin-left: -2000px;
			}
			.right-3{
				margin-left: -3000px;
			}
			.right-4{
				margin-left: -4000px;
			}
			.right-5{
				margin-left: -5000px;
			}
			.right-6{
				margin-left: -6000px;
			}
			.right-7{
				margin-left: -7000px;
			}
			.right-8{
				margin-left: -8000px;
			}
			.right-9{
				margin-left: -9000px;
			}
			.right-10{
				margin-left: -10000px;
			}
		}
		
	}
}